@page "/user/registration"

@using BlazorTest.Models
@using BlazorTest.Data

@inject IDataAccess _db
@inject NavigationManager NavManager
<head>
    <style>
        .note {
            text-align: center;
            height: 80px;
            background: -webkit-linear-gradient(left, #0072ff, #8811c5);
            color: #fff;
            font-weight: bold;
            line-height: 80px;
        }

        .form-content {
            padding: 5%;
            border: 1px solid #ced4da;
            margin-bottom: 2%;
        }

        .form-control {
            border-radius: 1.5rem;
        }

        .btnSubmit {
            border: none;
            border-radius: 1.5rem;
            padding: 1%;
            width: 20%;
            cursor: pointer;
            background: #fff;
            color: #fff;
        }

        body {
            background-image: url("http://wallpaperswide.com/download/women_fitness_ball_workout-wallpaper-1920x1080.jpg");
            background-color: #fff;
        }

        label {
            color: #fff;
        }

        h4 {
            color: #fff;
        }
    </style>
</head>
<h4>Regisztráció</h4>
<div class="container register-form">

    <EditForm Model="@newUser" OnValidSubmit="@InsertUser">

        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        <label for="email">Email cím</label>
                        <InputText class="form-control" type="email" id="email" @bind-Value="@newUser.Email" />
                    </div>
                    <div class="form-group">
                        <label for="username">Felhasználónév</label>
                        <InputText class="form-control" id="username" @bind-Value="@newUser.UserName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Password">Jelszó</label>
                        <InputText class="form-control" type="password" id="Password" @bind-Value="@newUser.Password" />
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Jelszó megerősítése</label>
                        <InputText class="form-control" type="password" id="ConfirmPassword" @bind-Value="@newUser.ConfirmPassword" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Regisztráció</button>
        </div>
    </EditForm>
</div>


@code { private User newUser = new User();

    private async Task InsertUser()
    {
        User u = new User
        {
            Email = newUser.Email,
            UserName = newUser.UserName,
            Password = BCrypt.Net.BCrypt.HashPassword(newUser.Password)
        };
        await _db.InsertUser(u);
        NavManager.NavigateTo("/user/login");
    } }
